
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #fff;
      color: #f5efef;
      min-height: 150vh;
    }

 
    header {
      background-color: #f57c00; /* laranja */
      color: white;
      padding: 20px;
      text-align: center;
    }

    nav a {
      color: white;
      margin: 0 15px;
      text-decoration: none;
      font-size: 18px;
    }

    nav a:hover {
      text-decoration: underline;
    }


   
    .hero h1 {
      font-size: 2.5em;
      color: #f57c00;
    }

   

    .btn {
      background-color: #f57c00;
      color: white;
      padding: 15px 30px;
      font-size: 18px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }

    .btn:hover {
      background-color: #e65100;
    }

    
    .beneficios {
      display: flex;
      justify-content: space-around;
      padding: 40px 20px;
      background-color: #fff3e0;
    }

    .card {
      background: white;
      padding: 20px;
      border-radius: 10px;
      width: 22%;
      text-align: center;
      box-shadow: 0 2px 8px rgb(0, 0, 0);
    }

    .card h3 {
      color: #f57c00;
    }

    

    .depoimentos p {
      font-style: italic;
      margin: 15px 0;
    }

    
    footer {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 20px;
    }

  </style>
  header {
  display: flex;
  align-items: center;
  padding: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #111;
  color: white;
  text-align: center;
  padding: 10px 0;
  

}

body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  transition: 0.3s;
}

.hero {
    background-image:url("img/banner.png"); /* troque fundo.jpg pelo nome da sua imagem */
    background-size: cover;   /* faz a imagem cobrir toda a área */
    background-position: center; /* centraliza a imagem */
    padding: 80px 20px; /* espaço interno para o texto não grudar */
    text-align: center;
    width: 100%;
    height: 300px;
}
.hero p {
    color: #FFFFFF; /* Muda a cor do texto para branco */
    font-size: 1.2em; /* Opcional: Aumenta um pouco o tamanho para visibilidade */
    margin-top: 15px; /* Opcional: Adiciona um pequeno espaço acima */
}

.btn-inscrever {
  background-color: #ff6600; /* cor laranja do botão */
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  color: #ffffff; /* cor do texto */
  font-weight: bold;
}
 